// general setting
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
//  /general settings
//  utilities classes
.d_flex{
  display: flex;
}
.wrong_color{
  background-color: red;
  color: white;
}
.right_color{
  background-color: greenyellow;
  color: white;
}
//  /utilities classes
// import partials
@import './partials/answerComponent.scss';
@import './partials/questionComponent.scss';
@import './partials/millionComponent.scss';
//  /import partials
// header logo
#app{
  flex-direction: column;
  align-items: center;
  img{
    width: 20rem;
    margin: 3rem;
    
  }

}
//  /header logo